<div class="footer" style="padding-top: 80px;">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <span class="blue bolder">QUẢN LÝ CÔNG VIỆC 2020</span>
                Copyright &copy; 2020 - Bản quyền thuộc về <a href="https://nhattamsoft.vn" target="_blank">Công ty TNHH Phát triển phần mềm Nhất Tâm - NTSoft</a>
            </span>
            &nbsp; &nbsp;
        </div>
    </div>
</div>