
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
        <h3>CHỨC NĂNG</h3>
        <div class="toolbar">
            <button id="btnThem" class="btn btn-primary" type="button" permiss="them">
                <i class="fa fa-plus"></i>
                <span class="hidden-320">Thêm mới</span>
            </button>
        </div>
    </div>
    <div class="breadcrumbs ace-save-state">
    </div>

    <div id="Loadding">
    </div>
    <div class="row">
        <div class="col-xs-12" style="
    margin-bottom: -10px;
">
            <div class="form-group">
                <fieldset class="khungvien" style="margin-left: 13px; margin-right: 13px;">
                    <legend><b>Lọc theo phần mềm</b></legend>
                    <label class="col-md-1 control-label">Phần mềm</label>
                    <div class="col-md-4">
                        <select class="form-control input-sm" id="PhanMem_Loc"></select>
                    </div>
                    <button class="btn btn-primary btn-sm" onclick="bntloc_DanhSach();return false;" id="bntloc"><i class="fa fa-filter"></i>&nbsp;Lọc</button>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-xs-12" id="divload" style="display: none">
        <div class="col-xs-12">
            <div class="row" style="padding-bottom: 2px;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6" style="float: right">
                    <span class="input-icon" style="float: right;">
                        <input type="text" placeholder="Nội dung tìm kiếm ..." onkeyup="SearchGridByValue(Grid1,[2,3,4],this.value)" class="nav-search-input" id="nav-search-input" autocomplete="off">
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <cc1:Grid ID="Grid1" runat="server" FolderStyle="~/App_Themes/Styles/style_7" AllowPaging="true" FilterType="ProgrammaticOnly"
                      PageSizeOptions="15,50,150,200,500,1000,-1" PageSize="50" AutoGenerateColumns="false" AllowFiltering="true" AllowRecordSelection="true"
                      EnableRecordHover="false" AllowGrouping="false" Width="100%" Height="600" AllowColumnResizing="true"
                      AllowAddingRecords="false" AllowMultiRecordSelection="False" OnRebind="Grid1_OnRebind">
                <ScrollingSettings ScrollWidth="100%" ScrollHeight="100%" />
                <PagingSettings Position="Bottom" />
                <ClientSideEvents OnBeforeClientDelete="Grid1_OnBeforeClientDelete" OnBeforeClientEdit="Grid1_OnBeforeClientEdit" OnClientDblClick="Grid1_OnClientDblClick" />
                <FilteringSettings MatchingType="AnyFilter" FilterPosition="Top" FilterLinksPosition="Bottom" />
                <Columns>
                    <cc1:Column AllowDelete="true" AllowEdit="true" Width="70px" HeaderText="Thao tác" Align="Center">
                        <TemplateSettings TemplateId="editBtnTemplate" EditTemplateId="updateBtnTemplate" />
                    </cc1:Column>
                    <cc1:Column HeaderText="Mã" DataField="ChucNangCode" Wrap="true" Width="120px">
                    </cc1:Column>
                    <cc1:Column HeaderText="Tên chức năng" DataField="TenChucNang" Wrap="true" Width="250px">
                    </cc1:Column>
                    <cc1:Column HeaderText="Tên phần mềm" DataField="TenPhanMem" Wrap="true" Width="250px">
                    </cc1:Column>
                    <cc1:Column HeaderText="Diễn giải" DataField="DienGiai" Wrap="true" Width="350px">
                    </cc1:Column>
                    <cc1:CheckBoxColumn HeaderText="Ngừng theo dõi" DataField="NgungTD" Width="110px" Align="Center">
                    </cc1:CheckBoxColumn>
                    <cc1:Column HeaderText="ChucNangID" DataField="ChucNangID" Width="0px" Visible="false">
                    </cc1:Column>
                </Columns>
                <Templates>
                    <cc1:GridTemplate runat="server" ID="editBtnTemplate">
                        <Template>
                            <button type="button" id="btnEdit" permiss="sua" class="btn btn-xs btn-info" onclick="Grid1.edit_record(this)"><i class="fa fa-pencil"></i></button>
                            <button type="button" id="btnDelete" permiss="xoa" class="btn btn-xs btn-danger" onclick="Grid1.delete_record(this)"><i class="fa fa-trash"></i></button>
                        </Template>
                    </cc1:GridTemplate>
                </Templates>
                <LocalizationSettings CancelAllLink="Hủy tất cả" AddLink="Thêm mới" CancelLink="Hủy"
                                      DeleteLink="Xóa" EditLink="Sửa" Filter_ApplyLink="Tìm kiếm" Filter_HideLink="Đóng tìm kiếm"
                                      Filter_RemoveLink="Xóa tìm kiếm" Filter_ShowLink="Mở tìm kiếm" FilterCriteria_NoFilter="Không tìm kiếm"
                                      FilterCriteria_Contains="Chứa" FilterCriteria_DoesNotContain="Không chứa" FilterCriteria_StartsWith="Bắt đầu với"
                                      FilterCriteria_EndsWith="Kết thúc với" FilterCriteria_EqualTo="Bằng" FilterCriteria_NotEqualTo="Không bằng"
                                      FilterCriteria_SmallerThan="Nhỏ hơn" FilterCriteria_GreaterThan="Lớn hơn" FilterCriteria_SmallerThanOrEqualTo="Nhỏ hơn hoặc bằng"
                                      FilterCriteria_GreaterThanOrEqualTo="Lớn hơn hoặc bằng" FilterCriteria_IsNull="Rỗng"
                                      FilterCriteria_IsNotNull="Không rỗng" FilterCriteria_IsEmpty="Trống" FilterCriteria_IsNotEmpty="Không trống"
                                      Paging_OfText="của" Grouping_GroupingAreaText="Kéo tiêu đề cột vào đây để loại theo cột đó"
                                      JSWarning="Có một lỗi khởi tạo lưới với ID '[GRID_ID]'. \ N \ n [Chú ý] \ n \ nHãy liên hệ bộ phận bảo trì của Nhất Tâm Soft để được giúp đỡ."
                                      LoadingText="Đang tải...." MaxLengthValidationError="Giá trị mà bạn đã nhập vào trong cột XXXXX vượt quá số lượng tối đa ký tự YYYYY cho phép cột này."
                                      ModifyLink="Chỉnh sửa" NoRecordsText="Không có dữ liệu" Paging_ManualPagingLink="Trang kế »"
                                      Paging_PageSizeText="Số dòng 1 trang:" Paging_PagesText="Trang:" Paging_RecordsText="Dòng:"
                                      ResizingTooltipWidth="Rộng:" SaveAllLink="Lưu tất cả" SaveLink="Lưu" TypeValidationError="Giá trị mà bạn đã nhập vào trong cột XXXXX là không đúng."
                                      UndeleteLink="Không xóa" UpdateLink="Lưu" />
            </cc1:Grid>
        </div>

        <div id="mdThemMoi" class="modal" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header no-padding">
                        <div class="table-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <span class="white">&times;</span>
                            </button>
                            <span id="tieuDeModal"></span>
                        </div>
                    </div>
                    <div class="modal-body">
                        <fieldset class="khungvien">
                            <legend><b>Thông tin chức năng</b></legend>
                            <div class="row" style="padding-bottom: 2px">
                                <div class="col-md-3">
                                    <label class="validation">Mã</label>
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control input-sm" type="text" id="txtMa" />
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 2px">
                                <div class="col-md-3">
                                    <label class="validation">Tên chức năng</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control input-sm" type="text" id="txtTen" />
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 2px">
                                <div class="col-md-3">
                                    <label class="validation">Tên phần mềm</label>
                                </div>
                                <div class="col-md-9">
                                    <input class="form-control input-sm" type="text" id="selPhanMemID" />
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 2px">
                                <div class="col-md-3">
                                    <label>Diễn giải</label>
                                </div>
                                <div class="col-md-9">
                                    <textarea class="form-control input-sm" id="txtDienGiai" rows="4">
                                    </textarea>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <label class="middle" style="float: left">
                            <input class="ace" type="checkbox" id="ckNgungTD" />
                            <span class="lbl">&nbsp;Ngừng theo dõi</span>
                        </label>
                        <a href="#" id="btnLuuVaDong" class="btn btn-success" onclick="btnLuuDuLieu(this,'2');return false;">
                            <i class="ace-icon fa fa-floppy-o bigger-110"></i>&nbsp;Lưu và đóng
                        </a> &nbsp;
                        <a href="#" class="btn btn-danger"
                           data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Đóng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
