<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetCore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/lib/font-awesome/4.7.0/css/font-awesome.min.css" />
        @*<link rel="stylesheet" href="~/css/bootstrap.min.css" />*@
        <link rel="stylesheet" href="~/css/fonts.googleapis.com.css" />
        <link rel="stylesheet" href="~/material-preloader/css/materialPreloader.css" />
        <link rel="stylesheet" href="~/css/select2.min.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.custom.min.css" />
        <link rel="stylesheet" href="~/css/jquery.gritter.min.css" />
        <link rel="stylesheet" href="~/css/ace.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datepicker3.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap-timepicker.min.css" />
        <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <link rel="stylesheet" href="~/style.css" />
        <link rel="stylesheet" href="~/css/chosen.min.css" />
        <script src="~/js/jquery-2.1.4.min.js"></script>

        <script src="~/DungChung/js/NTSPlugin.js"></script>
        @*<script src="/Scripts/Header.js"></script>*@
        <style>
            body {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 12px;
                font-size-adjust: inherit;
                font-stretch: normal;
                font-variant: normal;
                font-style: normal;
            }

            .bootbox.modal.bb-alternate-modal.in {
                top: 10% !important;
            }

            button.bootbox-close-button.close {
                margin-top: -6px !important;
            }

            .close {
                float: right;
                font-size: 21px;
                color: #f00;
                opacity: 1;
            }

            .ntsloadding {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                opacity: 0.5;
                text-align: center;
                background: #CCC;
                filter: alpha(opacity=80);
            }

            .message-loading-overlay > .ace-icon {
                position: absolute;
                top: 40%;
                left: 49%;
                right: 0;
                text-align: center;
            }
            span#select2-selkybaocao-container {
                font-size: 12px !important;
            }

            label#ctl00_ctl16_lblNam {
                font-size: 15px;
            }

            .scroll-content {
                max-height: 300px !important;
            }
        </style>
    </environment>
    @*<environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>*@
</head>
<body>

    <div id="navbar" class="navbar navbar-fixed-top">
        <input type="hidden" id="hdfHeader_kyBaoCao" value="" runat="server" />
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header pull-left">
                <a href="/trang-chu.html" class="navbar-brand">
                    <small style="font-weight: bold;">
                        <i class="fa fa-universal-access"></i>
                        QLCV - <span style="color: yellow; font-weight: bold;">NTSOFT</span>
                    </small>
                </a>
            </div>
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">

                    <li class="dropdown-modal">
                        <a href="/tra-cuu-nhanh.html">
                            <i class="ace-icon fa fa-search"></i>
                        </a>
                    </li>
                    <li class="purple dropdown-modal">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false">
                            <i class="ace-icon fa fa-bell"></i>
                            <span class="badge badge-important">8</span>
                        </a>

                        <ul class="dropdown-menu-right dropdown-navbar navbar-blue dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-exclamation-triangle"></i>
                                Thông báo
                            </li>

                            <li class="dropdown-content ace-scroll" style="position: relative;">
                                <div class="scroll-track" style="display: none;">
                                    <div class="scroll-bar"></div>
                                </div>
                                <div class="scroll-content" style="">
                                    <ul class="dropdown-menu dropdown-navbar navbar-pink">
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-warning fa fa-comment"></i>
                                                        Công việc mới
                                                    </span>
                                                    <span class="pull-right badge badge-info" runat="server" id="CongViecMoi">+12</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-primary fa fa-comment"></i>
                                                        Công việc đang thực hiện
                                                    </span>
                                                    <span class="pull-right badge badge-info" runat="server" id="CongViecDangThucHien">+12</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover btn-danger fa fa-comment"></i>
                                                        Công việc trễ deline
                                                    </span>
                                                    <span class="pull-right badge badge-info" runat="server" id="CongViecTreDeline">+12</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="btn btn-xs no-hover  btn-success  fa fa-comment"></i>
                                                        Công việc đã hoàn thành
                                                    </span>
                                                    <span class="pull-right badge badge-info" runat="server" id="CongViecDaHoanThanh">+12</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="dropdown-footer">
                                <a href="#">
                                    Đi đến công việc
                                    <i class="ace-icon fa fa-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="green dropdown-modal" id="dropdown-menu">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <i class="ace-icon fa fa-calendar icon-animated-vertical" style="width: 60px;">
                                <label id="lblNam" style="padding-top: 0px; vertical-align: unset; line-height: 1.5; display: unset;" runat="server"></label>
                            </i>
                        </a>
                        <ul class="dropdown-menu-right dropdown-navbar navbar-blue dropdown-menu dropdown-caret" onclick="event.stopPropagation();">
                            <li class="dropdown-header">
                                <i class="ace-icon fa fa-calendar"></i>
                                Cập nhật kỳ báo cáo
                            </li>
                            <li class="dropdown-content">
                                <ul class="dropdown-menu dropdown-navbar">
                                    <li style="line-height: 25px; padding: 10px;scroll-behavior:unset">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Kỳ báo cáo</label>
                                            </div>
                                            <div class="col-md-7">
                                                <select id="selKyBaoCao_head" name="selKyBaoCao_head" class="form-control input-sm"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Từ ngày</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input class="form-control input-sm date-picker" value="<%= Session[" TuNgayHeader"] %>" type="text" id="txtTuNgay_head" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" />
                                                    <span class="input-group-addon" style="padding: 6px; border-radius: 0px 3px 3px 0px!important;">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Đến ngày</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="input-group">
                                                    <input class="form-control input-sm date-picker" type="text" id="txtDenNgay_head" value="<%= Session[" DenNgayHeader"] %>" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" />
                                                    <span class="input-group-addon" style="padding: 6px; border-radius: 0px 3px 3px 0px!important;">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label>Key mã hoá</label>
                                            </div>
                                            <div class="col-md-7">
                                                <input class="form-control input-sm" type="password" id="KeyMaHoa_H" value="<%= Session[" KeyMaHoa"] %>" placeholder="Nhập vào key mã hoá dữ liệu" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </li>
                            <li class="dropdown-footer" style="text-align: center; padding: 0px !important; background-color: #ECF2F7;">
                                <div>
                                    <a href="#" id="btnLuuVaDongKyBaoCao" class="btn btn-success" onclick="capNhatKyBaoCao();return false;">
                                        <i class="ace-icon fa fa-floppy-o bigger-110"></i>&nbsp;Cập nhật
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/images/user.jpg" />
                            <span class="user-info">
                                <small>Chào,</small>
                                <label id="lblUser_us" style="padding-top: 0px; vertical-align: unset; line-height: 1.5; display: unset;" runat="server"></label>
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>
                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="#">
                                    <i class="ace-icon fa fa-user"></i>
                                    <label id="lblDonVi" style="padding-top: 0px; vertical-align: unset; line-height: 1.5; display: unset;" runat="server"></label>
                                </a>
                            </li>
                            <li>
                                <a href="/doi-mat-khau.html">
                                    <i class="ace-icon fa fa-lock"></i>
                                    Đổi mật khẩu
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/dang-xuat.html">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <div class="main-container ace-save-state" id="main-container">
            <div id="sidebar" class="sidebar                  responsive                    ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts">
					<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
						<button class="btn btn-success">
							<i class="ace-icon fa fa-signal"></i>
						</button>

						<button class="btn btn-info">
							<i class="ace-icon fa fa-pencil"></i>
						</button>

						<button class="btn btn-warning">
							<i class="ace-icon fa fa-users"></i>
						</button>

						<button class="btn btn-danger">
							<i class="ace-icon fa fa-cogs"></i>
						</button>
					</div>

					<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
						<span class="btn btn-success"></span>

						<span class="btn btn-info"></span>

						<span class="btn btn-warning"></span>

						<span class="btn btn-danger"></span>
					</div>
				</div><!-- /.sidebar-shortcuts -->

				<ul class="nav nav-list" style="top: 0px;">
					<li class="active">
						<a href="http://ace.jeka.by/index.html">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Dashboard </span>
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="http://ace.jeka.by/#" class="dropdown-toggle">
							<i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								UI &amp; Elements
							</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu nav-hide" style="display: none;">
							<li class="">
								<a href="http://ace.jeka.by/#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									Layouts
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="http://ace.jeka.by/top-menu.html">
											<i class="menu-icon fa fa-caret-right"></i>
											Top Menu
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="http://ace.jeka.by/two-menu-1.html">
											<i class="menu-icon fa fa-caret-right"></i>
											Two Menus 1
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="http://ace.jeka.by/two-menu-2.html">
											<i class="menu-icon fa fa-caret-right"></i>
											Two Menus 2
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="http://ace.jeka.by/mobile-menu-1.html">
											<i class="menu-icon fa fa-caret-right"></i>
											Default Mobile Menu
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="http://ace.jeka.by/mobile-menu-2.html">
											<i class="menu-icon fa fa-caret-right"></i>
											Mobile Menu 2
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="http://ace.jeka.by/mobile-menu-3.html">
											<i class="menu-icon fa fa-caret-right"></i>
											Mobile Menu 3
										</a>

										<b class="arrow"></b>
									</li>
								</ul>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/typography.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Typography
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/elements.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Elements
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/buttons.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Buttons &amp; Icons
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/content-slider.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Content Sliders
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/treeview.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Treeview
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/jquery-ui.html">
									<i class="menu-icon fa fa-caret-right"></i>
									jQuery UI
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/nestable-list.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Nestable Lists
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/#" class="dropdown-toggle">
									<i class="menu-icon fa fa-caret-right"></i>

									Three Level Menu
									<b class="arrow fa fa-angle-down"></b>
								</a>

								<b class="arrow"></b>

								<ul class="submenu">
									<li class="">
										<a href="http://ace.jeka.by/#">
											<i class="menu-icon fa fa-leaf green"></i>
											Item #1
										</a>

										<b class="arrow"></b>
									</li>

									<li class="">
										<a href="http://ace.jeka.by/#" class="dropdown-toggle">
											<i class="menu-icon fa fa-pencil orange"></i>

											4th level
											<b class="arrow fa fa-angle-down"></b>
										</a>

										<b class="arrow"></b>

										<ul class="submenu">
											<li class="">
												<a href="http://ace.jeka.by/#">
													<i class="menu-icon fa fa-plus purple"></i>
													Add Product
												</a>

												<b class="arrow"></b>
											</li>

											<li class="">
												<a href="http://ace.jeka.by/#">
													<i class="menu-icon fa fa-eye pink"></i>
													View Products
												</a>

												<b class="arrow"></b>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="http://ace.jeka.by/#" class="dropdown-toggle">
							<i class="menu-icon fa fa-list"></i>
							<span class="menu-text"> Tables </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="http://ace.jeka.by/tables.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Simple &amp; Dynamic
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/jqgrid.html">
									<i class="menu-icon fa fa-caret-right"></i>
									jqGrid plugin
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>

					<li class="">
						<a href="http://ace.jeka.by/#" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil-square-o"></i>
							<span class="menu-text"> Forms </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="http://ace.jeka.by/form-elements.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Form Elements
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/form-elements-2.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Form Elements 2
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/form-wizard.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Wizard &amp; Validation
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/wysiwyg.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Wysiwyg &amp; Markdown
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="http://ace.jeka.by/dropzone.html">
									<i class="menu-icon fa fa-caret-right"></i>
									Dropzone File Upload
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
					
				</ul><!-- /.nav-list -->

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
            @RenderBody()
            <div class="footer" style="padding-top: 80px;">
                <div class="footer-inner">
                    <div class="footer-content">
                        <span class="bigger-120">
                            <span class="blue bolder">QUẢN LÝ CÔNG VIỆC 2020</span>
                            Copyright &copy; 2020 - Bản quyền thuộc về <a href="https://nhattamsoft.vn" target="_blank">Công ty TNHH Phát triển phần mềm Nhất Tâm - NTSoft</a>
                        </span>
                        &nbsp; &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@

        <script src="~/js/ace-extra.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.dataTables.min.js"></script>
        <script src="~/js/jquery.dataTables.bootstrap.min.js"></script>
        <script src="~/material-preloader/js/materialPreloader.js"></script>
        <script src="~/js/bootbox.js"></script>
        <script src="~/js/select2.full.js"></script>
        <script src="~/js/ace-elements.min.js"></script>
        <script src="~/js/ace.min.js"></script>
        <script src="~/js/dataTables.select.min.js"></script>
        <script src="~/js/jquery-ui.min.js"></script>
        <script src="~/js/jquery.mask.min.js" defer="defer"></script>
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/bootstrap-timepicker.min.js"></script>
        <script src="~/js/moment.min.js"></script>
        <script src="~/js/bootstrap-datetimepicker.min.js"></script>
        <script src="~/js/bootstrap-tag.min.js" defer="defer"></script>
        <script src="~/js/jquery.gritter.min.js"></script>
        <script src="~/DungChung/js/NTSLibrary.js"></script>
        <input id="gritter-light" checked="" style="display:none" type="checkbox" class="ace ace-switch ace-switch-5" />

    </environment>
    @*<environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
